{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
<div class="jumbotron mt-3">
    <h1 class="display-3">Bienvenue sur SymBnB</h1>
    <p class="lead">Nous mettons en relation propriétaires et futurs locataires</p>
    <hr class="my-4">
    <p>Vous cherchez une location pour vos futus vacances ?</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
    </p>
</div>
<h2>Nos locations stars</h2>
<div class="row">
    {% for data in ads  %}
        {% include 'ad/_ad.html.twig' with {'ad': data.annonce} %}
    {% endfor  %}
</div>
<h2>Nos propriétaires stars</h2>
<div class="row mt-3">
    {% for data in users %}
    <div class="col">
        <div class="card border-secondary mb-3">
            <div class="card-body">
                <h4 class="card-title">{{ data.user.fullname }}</h4>
                <hr>
                <div class="card-text">
                    <img src="{{ data.user.picture }}" alt="Avatar de {{ data.user.fullname }}" class="avatar avatar-medium float-left mr-3">
                    <p>{{ data.user.introduction }}</p>
                    <a href="{{ path('user_show', {'slug': data.user.slug}) }}" class="btn btn-success float-right">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}